{% extends "base.html" %}

{% block head %}
    <title>Dine fakturaer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_tjenester.css') }}">
    <script src="/static/javascript/kundeliste-java.js"></script>
{% endblock %}

{% block body %}

<div class="sidebar">
  <ul class="sidebar-links">
    <li class="sidebar-item">
        <a class="dropdown-btn active" href="{{ url_for('tjenester') }}">+ Ny faktura</a>
    </li>

    <li class="sidebar-item">
      <button class="dropdown-btn">📄 Faktura</button>
      <div class="dropdown-content">
        <a href="{{ url_for('fakturaer') }}">Ubetalte</a>
        <a href="#">Sendte</a>
      </div>
    </li>

    <li class="sidebar-item">
  <button class="dropdown-btn">👥 Kunder</button>
  <div class="dropdown-content">
    <a href="{{ url_for('kundeliste') }}">Alle kunder</a>
    <a href="{{ url_for('ny_kunde') }}">Ny kunde</a>
  </div>
    </li>

    <li><a href="#">📦 Produkter</a></li>
    <li><a href="#">📊 Rapporter</a></li>
    <li><a href="#">💲 Transaksjoner</a></li>

        <li class="sidebar-item">
        <button class="dropdown-btn">📄 Faktura</button>
        <div class="dropdown-content">
            <a href="/mine-filer">Mine fakturaer</a>  <!-- <-- link to personal files -->
            <a href="#">Sendte</a>
        </div>
        </li>
  </ul>
</div>

<h2>Dine lagrede fakturaer</h2>

{% if fakturaer %}

<ul>
    {% for f in fakturaer %}
        <li>
            {{ f.filnavn }} -
            <a href="{{ url_for('download_faktura', faktura_id=f.id) }}">Last ned</a>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>Du har ingen fakturaer enda.</p>
{% endif %}

{% endblock %}
