{% extends "base.html" %}
{% block head %}
    <title>Ny kunde</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_ny_kunde.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_sidebar.css') }}">
    <script src="/static/javascript/sidebar-java.js"></script>

{% endblock %}

{% block body %}
<div class="sidebar">
  <ul class="sidebar-links">

    <li class="sidebar-item">
      <a class="dropdown-btn" href="{{ url_for('tjenester') }}">+ Ny faktura</a>
    </li>

    <li class="sidebar-item">
      <button class="dropdown-btn">📄 Faktura</button>
      <div class="dropdown-content">
        <a href="{{ url_for('lagret_fakturaer') }}">Ubetalte</a>
        <a href="#">Sendte</a>
      </div>
    </li>

    <li class="sidebar-item open">
      <button class="dropdown-btn active">👥 Kunder</button>
      <div class="dropdown-content" style="display:flex;">
        <a href="{{ url_for('kundeliste') }}">Alle kunder</a>
        <a href="{{ url_for('ny_kunde') }}" class="active">Ny kunde</a>
      </div>
    </li>

    <li><a href="#">📦 Produkter</a></li>
    <li><a href="#">📊 Rapporter</a></li>
    <li><a href="#">💲 Transaksjoner</a></li>

  </ul>
</div>



<h1 class="overskrift">Registrer ny kunde</h1>
<div class="container">
    <div class="card">
        <form method="POST">
            <label>Navn *</label>
            <input type="text" name="navn" required>

            <label>Adresse *</label>
            <input type="text" name="adresse" required>

            <label>Organisasjonsnummer</label>
            <input type="text" name="orgnr">

            <label>Deres referanse</label>
            <input type="text" name="referanse">

            <button type="submit">Lagre kunde</button>
        </form>
    </div>
</div>

{% endblock %}
