{% extends "base.html" %}
{% block head %}
    <title>Ny kunde</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_ny_kunde.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_sidebar.css') }}">
    <script src="/static/javascript/sidebar-java.js"></script>

{% endblock %}

{% block body %}
<div class="sidebar">
  <ul class="sidebar-links">

    <li class="sidebar-item">
      <a class="dropdown-btn" href="{{ url_for('tjenester') }}">+ Ny faktura</a>
    </li>

    <li class="sidebar-item">
      <button class="dropdown-btn">📄 Faktura</button>
      <div class="dropdown-content">
        <a href="{{ url_for('lagret_fakturaer') }}">Ubetalte</a>
        <a href="{{ url_for('sendte') }}">Sendte</a>
        <a href="{{ url_for('betalt') }}">Betalt</a>
      </div>
    </li>

    <li class="sidebar-item open">
      <button class="dropdown-btn active">👥 Kunder</button>
      <div class="dropdown-content" style="display:flex;">
        <a href="{{ url_for('kundeliste') }}">Alle kunder</a>
        <a href="{{ url_for('ny_kunde') }}" class="active">Ny kunde</a>
      </div>
    </li>

    <li><a href="#">📦 Produkter</a></li>
    <li><a href="#">📊 Rapporter</a></li>
    <li><a href="#">💲 Transaksjoner</a></li>

  </ul>
</div>



<h1 class="overskrift">Registrer ny kunde</h1>
<div class="container">
    <div class="card">
      <form method="POST" action="{{ url_for('ny_kunde') }}">
          <div class="form-group">
              <label for="navn">Navn:</label>
              <input type="text" id="navn" name="navn" required>
          </div>

          <div class="form-group">
              <label for="adresse">Adresse:</label>
              <input type="text" id="adresse" name="adresse">
          </div>

          <div class="form-group">
              <label for="orgnr">Org.nr:</label>
              <input type="text" id="orgnr" name="orgnr">
          </div>

          <div class="form-group">
              <label for="referanse">Referanse:</label>
              <input type="text" id="referanse" name="referanse">
          </div>

          <div class="form-group">
              <label for="telefon">Telefon:</label>
              <input type="text" id="telefon" name="telefon">
          </div>

          <div class="form-group">
              <label for="epost">E-post:</label>
              <input type="email" id="epost" name="epost">
          </div>

          <button type="submit">Lagre kunde</button>
      </form>

    </div>
</div>

{% endblock %}
