{% extends "base.html" %}
{% block head %}
    <title>Ny kunde</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_kunder.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_sidebar.css') }}">
    <script src="/static/javascript/sidebar-java.js"></script>
{% endblock %}

{% block body %}
<h1>Registrer ny kunde</h1>

<form method="POST">
    <label>Navn:</label>
    <input type="text" name="navn" required>

    <label>Adresse:</label>
    <input type="text" name="adresse" required>

    <label>Org.nr:</label>
    <input type="text" name="orgnr">

    <label>Referanse:</label>
    <input type="text" name="referanse">

    <button type="submit">Lagre kunde</button>
</form>

<a href="{{ url_for('kundeliste') }}">Tilbake</a>
{% endblock %}
